body {background-color: rgb(34, 43, 43);}

*{color: #dedad7; font-family:"Montserrat", sans-serif; ;}
 
header {
    display: flex;
    width: 100%;
    justify-content: space-around;

}
header ul{
    display: flex;
    gap: 3rem;
    text-decoration: none;
    list-style-type: none;
}


.one {
    text-align: center; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 270px;
    padding-bottom: 270px;
} 
.one-1 span {
    color: #72939c;
    max-width: bold;
    }
.one-2{
    display: flex;
    flex-direction: column;
}
.one img {
    border-radius: 5%;
    width: 35rem;
    height: 22rem;
    max-width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.two {
    width: 100%;
    text-align: justify; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two > div {
    padding-left: 300px;
    padding-right: 300px;
}
.three {
    display: flex;
    flex-direction: row;

}

.three-p1 {
    width: 50%;
    display: flex;
    flex-direction: column;
   
}
.three-p2 {
    width: 50%;
    display: flex;
    flex-direction: column;
   
}

.three-p2 img {
    border-radius: 5px;
}


.form-contato {
    display: flex;
    flex-direction: column;
}
