body {background-color: #0D0D0D;}

*{color: #F2F2F2; font-family:"Montserrat", sans-serif; ;}
 
header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    background-color: #1E2D40;
}
header ul{
    display: flex;
    gap: 3rem;
    text-decoration: none;
    list-style-type: none;
}


.one {
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 270px;
    padding-bottom: 270px;
} 

.one-1 h2 {
    font-size: 25px;
    max-width: bold;
    margin: 3px;
    text-align: left;
}

.one-1 h1 {
    font-size: 49px;
    margin: 0;
}

.one-1 p {
    margin: 3px;
    text-align: left;
}

.one-1 span {
    color:#00e070;
    max-width: bold;
    }

.one-2{
    display: flex;
    flex-direction: column;
}
.one img {
    border-radius: 5%;
    width: 70%;
    max-width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.two {
    width: 100%;
    text-align: justify; 
    gap: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-top: 60px;
    background-color: #0B1426 ;
   
}
.two > div {
    justify-content: left;
    padding-top: 100px;
    padding-bottom: 100px;   
}
.two-0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}
.two-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.two img {
    width: 50%;
}

.three-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-1_1 h2 {
    text-align: center;
    padding-top: 70px;
}

.three-1_1 ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding-bottom: 50px;
}

.three-1_2 h2 {
    text-align: center;
    padding-top: 70px;
}

.three-1_2 ul {
    list-style-type: none;
    padding-bottom: 70px;
}

.three-2 {
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 150px;
    background-color: #0B1426;
}


.four {
   background-color: #1E2D40;
   text-align: center;
    padding-top: 30px;
}

.form-contato {
    display: flex;
    flex-direction: column;
}

