body {background-color: rgb(34, 43, 43);}

*{color: rgb(160, 160, 160); font-family:"Montserrat", sans-serif; ;}
 
.one {text-align: center;} 
.one img {border-radius: 30px;}

.two {text-align: justify;}

.three {
    display: flex;
    flex-direction: row;

}

.three-p1 {
    width: 50%;
    display: flex;
    flex-direction: column;
   
}
.three-p2 {
    width: 50%;
    display: flex;
    flex-direction: column;
   
}

.three-p2 img {
    border-radius: 5px;
}


.form-contato {
    display: flex;
    flex-direction: column;
}
